#fontstyle {
    font-size: 17px;
    padding-bottom: 10px;
    line-height: 30px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#img {
	padding-bottom: 10px;
}
